{:input
 {:env #:ring{:request
              {:cookies
               {"token"
                {:value "gold__SEMI__secret__EQ__HLKavVe--6xAO63qRUCoCOI9a3vG8Ydv0VsJhjpn4hU"},
                "_hello_key" {:value "SFMyNTY.g3QAAAABbQAAAAtfY3NyZl90b2tlbm0AAAAYVEM0bHRXalVob0lZZHBNZEdFRExjNWZ4.bcH3O4nCDHmXbrzTfg3qXweCV5EjEp1SPwn75HSBYwA"},
                "_cookie" {:value "e M991FQuFN6jrz2LJRkIIsjRUgYeH0 lz1 ZHDopxSI8gZEYSyRewv2Kx7T5rwkfpc2nDnzl8OteCHbluAN3pW36dsYAGE4O2LW/tMR2CXsjICldJOYvevqHMqDkCBYCGRmYKl42fU8OgkvM1FV8oPvg KsbTwbnqQcBGnrZMtc18oNArOn qPF5FIsn9U="},
                "ring-session" {:value "211075e8-eb5e-4973-81aa-d227355280a9"},
                "csrftoken" {:value "vmhsWunLyk6fpbs95hRbAOw1WW4Tmrio5WenlM218EQgcRLaH4dXgACkM3DZFvqp"},
                "messages" {:value ""},
                "session" {:value "eyJhY3Rpb25zIjpbMCw0LDAsMCwwLDAsMCwxNjU4OTcwMjQ2LjE1NDY4OV19.YuHgkA.ez2CvzEyI9w4ouGUdefgAfc7rNQ"}},
               :remote-addr "0:0:0:0:0:0:0:1",
               :params {:client-id "e720b40f-4c4e-4507-8cc7-e5d089584bba",
                        :csrf-token "+NShukWHrO9QkO1Sw6lp11UGXpIlnCXSVndAPkZHzJCf3aRlPeqwRNWa+P4UJncWsMvGRFDvNnsiLGpG"},
               :headers {"origin" "http://localhost:8085",
                         "host" "localhost:8085",
                         "upgrade" "websocket",
                         "user-agent" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML,
 like Gecko) Chrome/103.0.0.0 Safari/537.36",
                         "cookie" "token=gold__SEMI__secret__EQ__HLKavVe--6xAO63qRUCoCOI9a3vG8Ydv0VsJhjpn4hU; _hello_key=SFMyNTY.g3QAAAABbQAAAAtfY3NyZl90b2tlbm0AAAAYVEM0bHRXalVob0lZZHBNZEdFRExjNWZ4.bcH3O4nCDHmXbrzTfg3qXweCV5EjEp1SPwn75HSBYwA; _cookie=e+M991FQuFN6jrz2LJRkIIsjRUgYeH0+lz1+ZHDopxSI8gZEYSyRewv2Kx7T5rwkfpc2nDnzl8OteCHbluAN3pW36dsYAGE4O2LW/tMR2CXsjICldJOYvevqHMqDkCBYCGRmYKl42fU8OgkvM1FV8oPvg+KsbTwbnqQcBGnrZMtc18oNArOn+qPF5FIsn9U=; ring-session=211075e8-eb5e-4973-81aa-d227355280a9; csrftoken=vmhsWunLyk6fpbs95hRbAOw1WW4Tmrio5WenlM218EQgcRLaH4dXgACkM3DZFvqp; messages=\"[[\\\"__json_message\\\"\\0540\\05420\\054\\\"You are no longer logged in. Bye bye!\\\"]\\054[\\\"__json_message\\\"\\0540\\05420\\054\\\"You are no longer logged in. Bye bye!\\\"]]:1oGp3n:hfQAy6Odz76cN-rAjzdC1RQDBVxb7reMi0q2nxMA1uQ\"; session=eyJhY3Rpb25zIjpbMCw0LDAsMCwwLDAsMCwxNjU4OTcwMjQ2LjE1NDY4OV19.YuHgkA.ez2CvzEyI9w4ouGUdefgAfc7rNQ",
                         "connection" "Upgrade",
                         "pragma" "no-cache",
                         "sec-websocket-key" "AbvwV1CZ9PQQdvPvsWOStw==",
                         "accept-language" "en-US,
en;q=0.9,
ko-KR;q=0.8,
ko;q=0.7,
hi;q=0.6",
                         "sec-websocket-version" "13",
                         "accept-encoding" "gzip,
 deflate,
 br",
                         "sec-websocket-extensions" "permessage-deflate; client_max_window_bits",
                         "cache-control" "no-cache"},
               :async-channel #object[org.httpkit.server.AsyncChannel 0x45774b4d "/[0:0:0:0:0:0:0:1]:8085<->/[0:0:0:0:0:0:0:1]:49166"],
               :server-port 8085,
               :content-length 0,
               :form-params {},
               :websocket? true,
               :session/key "211075e8-eb5e-4973-81aa-d227355280a9",
               :query-params {"client-id" "e720b40f-4c4e-4507-8cc7-e5d089584bba",
                              "csrf-token" "+NShukWHrO9QkO1Sw6lp11UGXpIlnCXSVndAPkZHzJCf3aRlPeqwRNWa+P4UJncWsMvGRFDvNnsiLGpG"},
               :content-type nil,
               :character-encoding "utf8",
               :uri "/chsk",
               :server-name "localhost",
               :anti-forgery-token "+NShukWHrO9QkO1Sw6lp11UGXpIlnCXSVndAPkZHzJCf3aRlPeqwRNWa+P4UJncWsMvGRFDvNnsiLGpG",
               :query-string "client-id=e720b40f-4c4e-4507-8cc7-e5d089584bba&csrf-token=%2BNShukWHrO9QkO1Sw6lp11UGXpIlnCXSVndAPkZHzJCf3aRlPeqwRNWa%2BP4UJncWsMvGRFDvNnsiLGpG",
               :body nil,
               :multipart-params {},
               :scheme :http,
               :request-method :get,
               :session {:ring.middleware.anti-forgery/anti-forgery-token "+NShukWHrO9QkO1Sw6lp11UGXpIlnCXSVndAPkZHzJCf3aRlPeqwRNWa+P4UJncWsMvGRFDvNnsiLGpG",
                         :wat.server.middleware/session? true,
                         :session/valid? true,
                         :session/server-error-msg nil,
                         :user/email "a@b.com",
                         :user/admin? true,
                         :user/id 2,
                         :xt/id #uuid "211075e8-eb5e-4973-81aa-d227355280a9"}}},
  :tx [(wat.models.token/set-extent {:token/id 23, :delta-begin 1})]},
 :output {wat.models.token/set-extent #:server{:message "Token boundaries updated",
                                                :error? false},
          :com.wsscode.pathom/trace {:start 7,
                                     :path [],
                                     :duration 23,
                                     :details [{:event "trace-done",
                                                :duration 0,
                                                :start 30}],
                                     :children [{:start 7,
                                                 :path [wat.models.token/set-extent],
                                                 :duration 0,
                                                 :details [],
                                                 :name "wat.models.token/set-extent"} {:start 29,
                                                                                        :path [:com.wsscode.pathom/trace],
                                                                                        :duration 0,
                                                                                        :details [{:event "compute-plan",
                                                                                                   :duration 0,
                                                                                                   :start 29,
                                                                                                   :plan (([:com.wsscode.pathom/trace com.wsscode.pathom.trace/trace])),
                                                                                                   :provides #{:com.wsscode.pathom/trace}} {:event "call-resolver",
                                                                                                                                            :duration 0,
                                                                                                                                            :start 29,
                                                                                                                                            :key :com.wsscode.pathom/trace,
                                                                                                                                            :label "com.wsscode.pathom.trace/trace",
                                                                                                                                            :input-data {},
                                                                                                                                            :sym com.wsscode.pathom.trace/trace} {:event "merge-resolver-response",
                                                                                                                                                                                  :duration 0,
                                                                                                                                                                                  :start 29,
                                                                                                                                                                                  :key :com.wsscode.pathom/trace,
                                                                                                                                                                                  :sym com.wsscode.pathom.trace/trace}],
                                                                                        :name ":com.wsscode.pathom/trace"}],
                                     :hint "Query"}},
 :time 1659018777578}
